
.Container{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
  flex-wrap: wrap;
}
.nav-{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    background-color: aqua;
    margin: 8px;
}
.logo-circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: wheat;
}
.shapes{
    display: flex;
    justify-content:center;
    align-items: end;
    gap : 1em;
}
.rec1{
  border: 2px solid black;
  width: 70px;
  height: 50px;
  background-color: rgb(190, 144, 57);
}
.squr1{
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background-color: rgb(121, 93, 42);
}
.rec2{
  border: 2px solid black;
  width: 70px;
  height: 50px;
  background-color: rgb(194, 111, 55);
}
.circle{
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(83, 226, 64);
}
main1{
  border: 2px solid black;
  background-color: rgb(27, 177, 127);
  text-align: center;
  margin: 8px;
}

.main2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sideS content1"
  "sideS content2"
  "sideS content3"
  "sideS content4";
  gap: 0.7rem;
  margin: 8px;
}
.sideS{
  border: 2px solid black;
  background-color: rgb(165, 115, 115);
  grid-area: sideS;
  text-align: center;
  border-radius: 5px;
}
.content1{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(241, 58, 58);
  grid-area: content1;
  text-align: center;
}
.content2{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(221, 96, 96);
  grid-area: content2;
  text-align: center;
}
.content3{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(146, 11, 11);
  grid-area: content3;
  text-align: center;
}
.content4{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(124, 39, 39);
  grid-area: content4;
  text-align: center;
}



reac{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(18, 230, 159);
  text-align: center;
  margin: 8px;
}
.Items{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 8px;
}
rec{
  border: 2px solid black;
  width: 400px;
  height: auto;
  background-color: rgb(194, 111, 55);
}
circle{
 border: 2px solid black;
 width: 100px;
 height: auto;
 border-radius: 50%;
}
rectangle{
  border: 2px solid black;
  width: 400px;
  height: auto;
  background-color: rgb(194, 111, 55);
}
.bars{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  text-align: center;
}
left{
  border: 2px solid black;
  border-radius: 5px;
  background-color: coral;
}
right{
  border: 2px solid red;
  border-radius: 5px;
  background-color: chocolate;
}
@media only screen and (max-width:931px) {
   .main2{
    display: grid;
    grid-template-rows: 2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
    "sideS"
    "content1"
    "content2"
    "content3"
    "content4";
   }
   .Items{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
    "rec"
    "circle"
    "rectangle";
   }
   
   .bars{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "left" 
    "right";
   }
  
}